@font-face {
  font-family: 'exo';
  src: url("../Fonts/exo-regular-webfont.woff2") format("woff2"), url("../Fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'vollkorn';
  src: url("../Fonts/vollkorn-semibold-webfont.woff2") format("woff2"), url("../Fonts/vollkorn-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  background: #000;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

header {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(35, 50, 55, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 3em; }

header div {
  width: 5em;
  height: 2em;
  margin: 0; }

#loggo {
  float: left;
  width: 7em;
  margin: 0 0 0 1em; }

.navBar li {
  display: inline;
  padding: 0.1em 0 0.1em; }

.first {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  background-image: url("../grafik/city_ljus.jpg");
  background-size: 100%; }

.box {
  margin-top: 4em;
  padding: 0.5em;
  width: 70%;
  background-color: rgba(35, 50, 55, 0.4);
  text-align: center;
  font-size: 0.8em; }

.small-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.small-box {
  padding: 0.5em;
  margin: 0.75em;
  width: 40%;
  background-color: rgba(35, 50, 55, 0.4);
  font-size: .5em;
  text-align: center;
  font-size: 0.6em; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  margin-top: 1em; }

.project img {
  padding: 0.2em; }

.apple,
.amazon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 90%;
  margin: 0.5em;
  background-color: rgba(35, 50, 55, 0.4); }
  .apple picture img:hover,
  .amazon picture img:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: scale(2);
    transform: scale(2); }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  width: 45%;
  text-align: left;
  font-size: 0.7em; }

.info h3, .info h4 {
  text-align: center;
  margin: 0;
  padding: 0; }

.info picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%; }

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  .clients div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .clients div img {
      padding: 1.5em; }
    .clients div img:hover {
      -webkit-transition: all 1.5s ease;
      transition: all 1.5s ease;
      -webkit-transform: rotate(360deg) scale(2);
      transform: rotate(360deg) scale(2); }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  margin: 1em;
  background-color: rgba(35, 50, 55, 0.4);
  font-family: "exo", sans-serif;
  color: #eac67a; }

.employee picture img {
  margin: 0.5em; }

.emp-info h3 {
  font-family: "vollkorn", serif;
  margin-bottom: 0.3em; }

.contact-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "exo", sans-serif;
  color: #eac67a; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0.5em;
  padding: 1em;
  width: 70%;
  background-color: rgba(35, 50, 55, 0.4); }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 0;
  text-align: left; }

.contact-info a {
  font-size: 1em;
  margin: 0.4em; }

.contact-info p,
.mail-us p {
  margin: 0.4em; }

.inputbox {
  width: 21em;
  height: 2em;
  font-family: "exo", sans-serif; }

.inputarea {
  font-family: "exo", sans-serif; }

.submit-button {
  font-family: "exo", sans-serif;
  font-size: 1.4em;
  border: none;
  border-radius: 30%;
  background-color: #984B43;
  color: #eac67a;
  padding: 0.5em;
  text-align: center; }

.submit-button:active {
  font-weight: bold;
  transform: scale(1.3); }

p {
  color: #eac67a;
  font-family: "exo", sans-serif; }

h1,
h2,
h3,
h4 {
  color: #eac67a;
  font-family: "vollkorn", serif; }

.about h2,
.contact-sec h2,
.project h2,
.clients h2 {
  width: 100%;
  text-align: center;
  margin-top: 0.5em; }

.clients h2 {
  font-size: 1em;
  margin-top: 0.5em; }

a {
  text-decoration: none;
  color: #eac67a;
  font-family: "exo", sans-serif;
  font-size: .5em; }

a:hover {
  color: #984B43; }

.footer a,
.emp-info a {
  font-size: 1em; }

footer {
  background-color: #18121e;
  color: #eac67a;
  font-family: "exo", sans-serif; }

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1em 0em 1em 0em;
  font-size: 1.3em;
  list-style: none;
  font-size: 0.6em; }

@media screen and (min-width: 427px) and (max-width: 768px) {
  header div {
    height: 2em;
    width: 5em;
    margin: 0; }

  header {
    height: 5em; }

  .box {
    font-size: 1.4em;
    margin-top: 5em; }

  .small-box {
    font-size: 1em;
    padding: 0;
    margin: 0.5em; }

  .small-boxes {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  a {
    font-size: .9em; }

  .navBar li {
    padding: 0 .2em 0 .2em; }

  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .apple,
  .amazon {
    margin: 0.6em; }

  .info {
    width: 35%;
    font-size: 1em; }

  .about h2,
  .contact-sec h2,
  .project h2 {
    font-size: 1.7em;
    margin-top: 0.5em; }

  .clients h2 {
    font-size: 1em;
    margin-top: 0.5em; }

  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }

  .employee {
    width: 25%; }

  .contact-info a {
    font-size: 1em; }

  footer ul {
    font-size: 0.8em; }

  .footer a {
    font-size: 1em; } }
@media screen and (min-width: 769px) {
  header {
    height: 6em; }

  header div {
    height: 5em;
    width: 5em;
    margin: 0; }

  .navBar li {
    padding: 0 1em 0 1em;
    font-size: 1.5em; }

  .box {
    font-size: 2.5em; }

  .small-box {
    font-size: 1.3em;
    margin: .5em;
    padding: .5em; }

  .small-boxes {
    margin: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .apple,
  .amazon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin: 2em; }

  .info {
    width: 40%;
    margin: 0.5em;
    font-size: 1em; }

  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }

  .employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 25%; }

  .emp-info {
    width: 70%; }

  .contact {
    width: 78%; }

  .contact-info {
    font-size: 1.5em; }

  a {
    font-size: 1em; }

  footer ul {
    font-size: 1.3em;
    padding: 0; }

  .about h2,
  .contact-sec h2,
  .project h2 {
    font-size: 2.5em;
    margin-top: 1em; }

  .clients h2 {
    font-size: 1.5em;
    margin-top: 1em; } }

/*# sourceMappingURL=main.css.map */
