@font-face {
    font-family: 'exo';
    src: url('../Fonts/exo-regular-webfont.woff2') format('woff2'),
         url('../Fonts/exo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vollkorn';
    src: url('../Fonts/vollkorn-semibold-webfont.woff2') format('woff2'),
         url('../Fonts/vollkorn-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$body-font: "exo", sans-serif;
$head-font: "vollkorn", serif;
$bgcolor: #18121e;
$color: #eac67a;
$link-color :#984B43;
$opacity-bg: rgba(35, 50, 55, 0.4);

@mixin margin-padd-0{
	margin: 0;
	padding: 0;
}

@mixin flex-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
}

@mixin flex-col{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-flow: column wrap;
	    flex-flow: column wrap;
}
@mixin center{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

body{
	background: #000;
	@include margin-padd-0;
	@include flex-col;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
header{
	@include margin-padd-0;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: $opacity-bg;
	@include flex-row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	width: 100%;
	height: 3em;

}
header {
	div{
		width: 5em;
		height: 2em;
		margin: 0;
	}
}
#loggo {
	float: left;
	width: 5em;
	margin: 0 0 0 1em;
}
.navBar {
	li{
		display: inline;
		padding: 0.1em 0 0.1em;
	}
}
.first{
	@include margin-padd-0;
	@include flex-row;
	@include center;
	background-position: center center;
	background-image: url("../grafik/city_ljus.jpg");
	background-size: 100%;
}
.box{
	margin-top: 4em;
	padding: 0.5em;
	width: 70%;
	background-color: $opacity-bg;
	text-align: center;
	font-size: 0.8em;
}
.small-boxes{
    @include flex-row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.small-box{
	padding: 0.5em;
    margin: 0.75em;
    width: 40%;
    background-color: $opacity-bg;
    font-size: .5em;
    text-align: center;
    font-size: 0.6em;
}
.project{
	@include flex-row;
	@include margin-padd-0;
	margin-top: 1em;
}

.project img{
	padding: 0.2em;
}
.apple,
.amazon{
    @include flex-row;
    @include margin-padd-0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  	width: 90%;
  	margin: 0.5em;
  	background-color: $opacity-bg;
  	picture{
  		img:hover{
  			-webkit-transition: all 1s ease;
  			transition: all 1s ease;
			-webkit-transform: scale(2);
			        transform: scale(2);
  		}

  	}
}
.info{
    @include flex-col;
    width: 45%;
    text-align: left;
    font-size: 0.7em;
    
   
}
.info {
	h3, h4{
		text-align: center;
		@include margin-padd-0;
	}
}
.info {
	picture {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		@include center;
		width: 90%;
	}
}
.clients{
	@include flex-row;
	@include center;
	@include margin-padd-0;
	div{
		@include flex-row;
		@include center;
		img{
			padding: 1.5em;
		}
		img:hover{
			-webkit-transition: all 1.5s ease;
  			transition: all 1.5s ease;
  			-webkit-transform: rotate(360deg) scale(2);
  			        transform: rotate(360deg) scale(2);
		}
	}
}
.about{
	@include flex-col;
	@include center;
}
.employee{
	@include flex-col;
	@include center;
	width: 50%;
	margin: 1em;
	background-color: $opacity-bg;
	font-family: $body-font;
	color: $color;
	
}
.employee {
	picture{
		img{
			margin: 0.5em;
		}
	}
}
.emp-info {
	h3{
		font-family: $head-font;
		margin-bottom: 0.3em;
	}
}
.contact-sec{
	@include flex-col;
	@include center;
	font-family: $body-font;
	color: $color;
}
.contact{
	@include flex-row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0.5em;
	padding: 1em;
	width: 70%;
	background-color: $opacity-bg;
	
}
.contact-info{
	@include flex-col;
	font-size: 1.2em;
	margin-bottom: 1em;
	padding: 0;
	text-align: left;
}
.contact-info {
    a{
    	font-size: 1em;
    	margin: 0.4em;
    }
}
.contact-info,
.mail-us{
	p{
		margin: 0.4em;
	}
}
.inputbox{
	width: 21em;
	height: 2em;
	font-family: $body-font;
}
.inputarea{
	font-family: $body-font;
}
.submit-button{
	font-family: $body-font;
	font-size: 1.4em;
	border: none;
	border-radius: 30%;
	background-color: $link-color;
	color: $color;
	padding: 0.5em;
	text-align: center;
}
.submit-button:active{
	font-weight: bold;
	transform: scale(1.3);
}
p{
	color: $color;
	font-family: $body-font;
}
h1,
h2,
h3,
h4{ 
	color: $color;
	font-family: $head-font;
}
.about,
.contact-sec,
.project, 
.clients{
	h2{
		width: 100%;
		text-align:center;
		margin-top: 0.5em;
	}
}
.clients{
	h2{
		font-size: 1em;
		margin-top: 0.5em;
		
	}
}
a{
	text-decoration: none;
	color: $color;
	font-family: $body-font;
	font-size: .5em;
}
a:hover{
	color: $link-color;
}
.footer,
.emp-info {
	a{
		font-size: 1em;
	}
}
footer{
	background-color: $bgcolor;
	color: $color;
	font-family: $body-font;
}
footer {
	ul{
		@include flex-row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		padding: 1em 0em 1em 0em;
		font-size: 1.3em;
		list-style: none;
		font-size: 0.6em;
	}
}



@media screen and (min-width: 427px) and (max-width: 768px){
	header {
    	div{
    		height: 2em;
    		width: 5em;
    		margin: 0;
    	}
    }
    header{
    	height: 5em;
    }
    .box{
    	font-size: 1.4em;
   		margin-top: 5em;
    }
    .small-box{
    	font-size: 1em;
    	padding: 0;
    	margin: 0.5em;
    }
    .small-boxes{
    	margin: 0;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
    }
   a{
    	font-size: .9em;
    }
    .navBar {
    	li{
    		padding: 0 .2em 0 .2em;
    	}
    }
    .project{
    	@include flex-col;
    	@include center;
    }
    .apple,
    .amazon{
    	margin: 0.6em;
    }
    .info{
		width: 35%;
		font-size: 1em;
	}
    .about,
	.contact-sec,
	.project{
		h2{
			font-size: 1.7em;
			margin-top: 0.5em;
		}
	}
	.clients {
		h2{
			font-size: 1em;
			margin-top: 0.5em;
		}
	}
	.about{
		@include flex-row;
	}
	.employee{
		width: 25%;
	}
    .contact-info {
    	a{
    		font-size: 1em;
    	}
    }
	footer {
		ul{
			font-size: 0.8em;
		}
	}
	.footer {
		a{
			font-size: 1em;
		}
	}
	
}

@media screen and (min-width: 769px) {
	header{
    	height: 6em;
    }
	header {
    	div{
    		height: 5em;
    		width: 5em;
    		margin: 0;
    	}
    }
    
    .navBar {
    	li{
    		padding: 0 1em 0 1em;
    		font-size: 1.5em;
    	}
    }
    
    .box{
    	font-size: 2.5em;
    }
    .small-box{
    	font-size: 1.3em;
    	margin: .5em;
    	padding: .5em;
    }
    .small-boxes{
    	margin: 1em;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
    }
	.apple,
	.amazon{
   		display: -webkit-box;
   		display: -ms-flexbox;
   		display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: row;
    	        flex-direction: row;
    	-ms-flex-pack: distribute;
    	    justify-content: space-around;
  		width: 100%;
  		margin:2em;
	}
	.info{
		width: 40%;
    	margin: 0.5em;
    	font-size: 1em;
    }
   
    .about{
    	@include flex-row;
		
	}
	.employee{
		@include flex-row;
		width: 25%;
	}
	.emp-info{
		width: 70%;
	}
	.contact{
		width: 78%;
	}
	.contact-info{
		font-size: 1.5em;
	}
    a{
    	font-size: 1em;
    }
    
	footer {
		ul{
			font-size: 1.3em;
			padding: 0;
		}
	}
	
	.about,
	.contact-sec,
	.project{
		h2{
		font-size: 2.5em;
		margin-top: 1em;
			
		}
	}
	.clients {
		h2{
			font-size: 1.5em;
			margin-top: 1em;
		}
	}
}